API_KEY='YOURTOKENHERE...'
IS_TESTNET='False'
MANIFEST_URL='https://raw.githubusercontent.com/python-college/nft-marketplace-ton-connect/refs/heads/main/tonconnect-manifest.json'

REDIS_HOST='redis'
REDIS_PORT='6379'
REDIS_PASSWORD='password'
REDIS_USER='user'
REDIS_USER_PASSWORD='password'

PINATA_API_KEY="yourkeyhere123"
PINATA_API_SECRET="yourkeyhere123"